  <%= link_to "Sign up now!", new_user_path, class: "btn btn-lg btn-primary"%>
  <br />

<thead>
  <th>Email</th>
</thead>
<tbody>
  <tr>
    <% @users.each do |user| %>
    <td><%= user.email %><br /></td>
    <% end %>
  </tr>
</tbody>

<%= link_to "Create Post!!", new_post_path,class: "btn btn-lg btn-primary"%>
