<!--  <%= link_to "Sign up now!", new_user_path, class: "btn btn-lg btn-primary"%>  header部分に移動 -->
<!--  <br />
<thead>
  <th>Email</th>
</thead>
<tbody>
  <tr>
    <% @users.each do |user| %>
    <td><%= user.email %><br /></td>
    <% end %>
  </tr>
</tbody>
特に不要な部分かと？-->

<div class="row">
  <div class="col-md-2 col-md-offset-3">
    <%= link_to "Create Post!!", new_post_path,class: "btn btn-lg btn-primary center-block"%>
  </div>
  <div class="col-md-2 col-md-offset-2">
    <%= link_to "Reply!!", "#",class: "btn btn-lg btn-primary center-block"%>
  </div>
</div>
