@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 160px;
  header{
    .container{
      text-align: center;
    }
  }
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

header{
  padding-top: 40px;
}

/* header*/

.menu{
  margin: 5px;
}/*自分で作成？微妙かと*/

#logo {
  /*float: left; タイトルロゴをセンターラインへ移動したいため、コメントアウト*/
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: 1px;
  padding-top: 9px;
  font-weight: bold;
}

/*index*/
body{
  .container{
    .row{
      margin-top: 50px;
    }
  }
}/*よく分からず。グリッドの概念が分かっていないのか？*/

#list-body{
  margin:20px 250px;
}

ul{
  padding: 0;
  margin: 0;
}

.list {
  border-top: 1px solid #dedede;
  li{
    padding: 10px 0;
    font-size: 15px;
    font-size: 1.5rem;
    list-style-type: none;
    display: inline-block;
  }
  #name{
    font-weight: bold;
    font-size: 16px;
  }
  #post-body{
    font-size: 15px;
    margin: 5px 5px;
  }
  #replybtn{
    margin-bottom:30px;
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* shows */
#showpost{
  border: 1px solid #bbb;
}

#showname{
  font-weight: bold;
  font-size: 16px;
}

#showimage{

}

#showbody{

}
